# Logs
logs
*.log

# transpiled code
build

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# OS metadata
.DS_Store
Thumbs.db

# IDE settings
.vscode/